<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Receipe Book in header</a>
        </div>
         <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end bg-blue" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="#" data-toggle="collapse">Recipes</a></li>
                <li class="nav-item"><a class="nav-link" href="#" data-toggle="collapse">Shopping List</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="dropdown nav-item">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" data-toggle="collapse">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a class="dropdown-item" href="#" data-toggle="collapse">Save Data</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="#"data-toggle="collapse">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>