<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Receipe Book in header</a>
        </div>
         <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav justify-content-start">
                <li class="nav-item"><a (click)="onSelect('recipe')" class="nav-link" href="#" data-toggle="collapse">Recipes</a></li>
                <li class="nav-item"><a (click)="onSelect('shopping-list')" class="nav-link" href="#" data-toggle="collapse">Shopping List</a></li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="dropdown nav-item" appDropdown>
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu drowndown-padding" appDropdown>
                        <li class="nav-item"><a class="dropdown-item" href="#" data-toggle="collapse">Save Data</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="#"data-toggle="collapse">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>