span {
    justify-content: flex-end;
    padding-left: 10px;
}

.list-group-item {
    display: flex;
}

hr {
    background: blue;
    border-top: 1px solid rgba(0,0,0,.3);
    border: 1px outset;
}